#avatar {
  padding: 2em;
}

#titles {
  p {
    color: #FFFFFF;
    font-size: 40px;
  }
}

#siteDetails {
  p {
    color: #FFFFFF;
  }
}

.card-deck-wrapper {
  padding: 1em;
}

.card-text {
  a {
    color: #373F51;
    &:hover {
      color: #0275d8;
    }
  }

}
